
<div class="top-bar myfooter">
  <footer class="o-section o-section--tiled o-section--bigger u-inverted u-cf">
  <div class="o-section-inner">
    <div class="row">
      <div class="medium-12 large-3 u-stacked-medium-down columns">
        <a href="/portal">
          <img src="/assets/img/logo.svg" style="width: 170px" alt="Česká pirátská strana" class="u-center-medium-down u-10paddingTop">
        </a>
        </div>
      <div class="medium-12 large-7 u-stacked-medium-down columns">
        <div class="row u-custom-gutter">
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">O nás</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="/cepice/">ČEPICE</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="/clanky/">Články</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="/volby/">Volby</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="/podpor-nas/">Podpoř nás</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="small-6 medium-3 u-mobile-down-clear columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">Makáme</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="https://www.facebook.com/PiratiCB/" target="_blank">Novinky</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://www.facebook.com/pg/cepiceCB/events/" target="_blank">Kalendář</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="small-6 medium-3 columns">
            <nav class="c-vertical-navigation u-center-medium-only">
              <h3 class="c-vertical-navigation__title">Otevřenost</h3>
              <ul class="c-vertical-navigation-items">
                <li class="c-vertical-navigation__item">
                  <a href="https://ucet.pirati.cz" target="_blank">Transparentní účet</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://smlouvy.pirati.cz" target="_blank">Registr smluv</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://wiki.pirati.cz/fo/otevrene_ucetnictvi" target="_blank">Otevřené účetnictví</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://goo.gl/W3Mx9H" target="_blank">Informace o dárcích</a>
                </li>
                <li class="c-vertical-navigation__item">
                  <a href="https://zpravy.udhpsh.cz/zprava/ps2017/pirati" target="_blank">Financování kampaně do PSP PČR</a>
              </li></ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="medium-12 large-2 u-stacked-medium-down columns u-center-medium-down">
        <nav class="c-vertical-navigation">
          <h3 class="c-vertical-navigation__title">Buďte s námi v síti</h3>
          <ul class="c-vertical-navigation-items c-vertical-navigation-items--horizontal">
            <li class="c-vertical-navigation__item">
              <a href="https://www.facebook.com/PiratiCB/" rel="noopener noreferrer" title="Facebook - Piráti České Budějovice">
                <i class="fa fa-facebook c-icon c-icon--rounded c-icon--facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="https://www.facebook.com/cepiceCB/" rel="noopener noreferrer" title="Facebook - komunitní centrum ČePiCe">
                <i class="fa fa-facebook c-icon c-icon--rounded c-icon--facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="https://www.twitter.com/PiratskaStrana" rel="noopener noreferrer" title="Twitter - Česká pirátská strana">
                <i class="fa fa-twitter c-icon c-icon--rounded c-icon--twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="https://www.instagram.com/pirati.cz/" rel="noopener noreferrer" title="Instagram - Česká pirátská strana">
                <i class="fa fa-instagram c-icon c-icon--rounded c-icon--instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="c-vertical-navigation__item">
              <a href="https://plus.google.com/+piratskastrana" rel="noopener noreferrer" title="Google Plus - Česká pirátská strana">
                <i class="fa fa-google-plus c-icon c-icon--rounded c-icon--googlePlus" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
        <p class="u-10paddingTop u-maxWidth80percent u-smaller-line-height hide-for-large">
          <span class="u-mirror-horizontally">©</span> Piráti, 2016. Všechna práva vyhlazena.
          <br> Sdílejte a nechte ostatní sdílet za stejných podmínek.
      </p></div>
    </div>
  </div>
</footer>
</div>

