<head>
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="index,follow" />
  <meta name="googlebot" content="index,follow,snippet,archive" />
   <!--<link rel='alternate' type='application/rss+xml' title='' href='https://cb.pirati.cz/blog.rss' />-->
  <meta name="google-site-verification" content="zow-5WY0dE0Mas3Msng23YBsy6CId1pjS3PZbcOmPmI" />

  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/static/fb_image.jpg{% endif %}" />

  <script 
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
  
  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">

<script async defer
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
  integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
  crossorigin="anonymous">
</script>
<script async defer
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
  integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
  crossorigin="anonymous">
</script>

  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ page.description | strip_html }}" />
  <meta name="description" content="{{ page.description | strip_html }}" />
  <meta name="keywords" content="organizace,transparence,politika,české budějovice,piráti" />
  <link rel="canonical" href="https://cb.pirati.cz/" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-128.png" sizes="128x128">
  <meta name="application-name" content="Česká pirátská strana">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.">
  <meta name="msapplication-square70x70logo" content="/assets/favicon/mstile-70x70.">
  <meta name="msapplication-square150x150logo" content="/assets/favicon/mstile-150x150.">
  <meta name="msapplication-wide310x150logo" content="/assets/favicon/mstile-310x150.">
  <meta name="msapplication-square310x310logo" content="/assets/favicon/mstile-310x310.">  
  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
      <link rel="stylesheet" href="https://static.bohemiasoft.com/jave/sphere/css/shards.min.css?v=2.0.1">
  <link rel="stylesheet" href="https://static.bohemiasoft.com/jave/sphere/css/shards-demo.min.css?v=2.0.1">
  <link rel="stylesheet" href="/static/custom-style.css">
  <link rel="stylesheet" href="https://static.bohemiasoft.com/jave/pirati_cb.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '00977ca3526d610112364bb5e2cf04e4f2e31b08');
</script>

</head>
