<section id="cepice">
  <div class="card">
    <div class="card-header">
      <h2>ČEPICE</h2>
    </div>
    <div class="card-body">
      <p>
        Českobudějovické pirátské centrum ČEPICE je prostor pro setkávání pirátů i nepirátů v klidném a příjemném prostředí. Politika pro nás není sprosté slovo. Přijďte mezi nás.
      </p>
      <h3>KALENDÁŘ AKCÍ</h3>
      {% for item in site.data.akce_cepice %}
        {% include shared/eventsummary.html item=item %}
      {% endfor %}
    </div>
    <div class="card-footer">
      <a href="/cepice/">Více o čepici ...</a>
    </div>
  </div>
</section>

<section id="facebook">
  <div class="card mt-3">
    <div class="card-header">
      Sleduj nás na FACEBOOKU
    </div>
    <div class="card-body">
      Naše faceboková stránka je:
      <br>
      <a href="{{ site.data.links.sidebar.facebook.url }}" target="_blank">
        {{ site.data.links.sidebar.facebook.title }}
      </a>
    </div>
  </div>
</section>

<section id="youtube">
  <div class="card mt-3">
    <iframe height="315" src="{{ site.data.links.sidebar.youtube.video }}"
      style="border: 0;" allowfullscreen="">
    </iframe>
    <div class="card-body">
      <a href="{{ site.data.links.sidebar.youtube.channel }}" target="_blank">
        Další videa na našem kanálu
      </a>
    </div>
  </div>
</section>
