<section id="program">
  <div class="card">
    <div class="card-header text-white" style="background-color: #383076;">
      <h3>Pusťte nás na ně</h3>
    </div>
    <ol class="list-group list-group-flush">
      <li class="list-group-item">
        <h4><a href="/blog/2018/05/30/mesto-do-rukou-obcanu/">Město do rukou občanů</a></h4>
      </li>
      <li class="list-group-item">
        <h4><a href="/mesto_pro_zivot/">Město pro život</a></h4>
      </li>
      <li class="list-group-item">
        <h4><a href="/doprava/">Doprava</a></h4>
      </li>
      <li class="list-group-item">
        <h4><a href="/budejovice_bez_korupce/">Budějovice bez korupce</a></h4>
      </li>
    </ol>
  </div>
</section> 

<section id="facebook">
  <div class="card mt-3">
    <div class="card-header">
      sleduj nás na facebooku
    </div>
    <div class="card-body">
      Naše faceboková stránka je:
      <a href="{{ site.data.links.sidebar.facebook.url }}" target="_blank">
        {{ site.data.links.sidebar.facebook.title }}
      </a>
    </div>
  </div>
</section>
