<section id="cepice">
  <div class="card">
    <div class="card-header">
      <h2>Proč to děláme?</h2>
    </div>
    <div class="card-body">
        Město České Budějovice dlouhodobě selhává při komunikaci se svými občany. Ta bude důležitá zejména zejména teď, kdy vzniká zásadní dokument pro rozvoj města – územní plán. Rozhodli jsme se proto, že pomůžeme občanům posloužíme občanům jako průvodce procesem jeho vzniku. Jedním z cílů územního plánu je nastavení rovnováhy mezi zájmy soukromými (občanů, developerů apod.) a veřejnými. Občané proto musí mít dostatek informací.<br><br>
Dobře zpracované informace o územním plánu a možnosti občanů jeho vznik ovlivnit najdete <a href="https://cb.pirati.cz/uzemni-plan-obecne/">zde</a>.
<br><br> 
České Budějovice mají v současné době platný územní plán schválený v roce 2000. Proč tedy vzniká nový? Kromě morální zastaralosti hlavně proto, že neodpovídá novelizovanému Stavebnímu zákonu. V minulosti byla snaha územní plán aktualizovat, to se však nepovedlo. (odkaz) 
Termín pro získání nového územního plánu je konec roku 2022, tedy velmi napjatý.
<br><br>
    </div>
  </div>
</section>

<section id="facebook">
  <div class="card mt-3">
    <div class="card-header">
      ZASÍLÁNÍ NEWSLETTERU
    </div>
    <div class="card-body">Zadejte váš email:
      <br>
      .....
      </a>
    </div>
  </div>
</section>
