<section id="cepice">
  <div class="card">
    <div class="card-header">
      <h2>Proč to děláme?</h2>
    </div>
    <div class="card-body">
        Město České Budějovice dlouhodobě selhává při komunikaci se svými občany. Územní plán definuje jeho podobu na příštích 20 let. Při vzniku tak zásadního dokumentu je tedy otevřená komunikace s občany nezbytná.<br><br>
My, Piráti, jsme se proto rozhodli, že to tak nenecháme. Zastoupíme práci radnice a posloužíme občanům jako průvodci procesem vzniku územního plánu tak, aby byl rovnováha mezi zájmy běžných občanů a velkých developerů (kteří jsou ve vztahu k politikům v mnohem silnější pozici) nastavena co nejvýhodněji pro veřejnost. Budeme rádi za vaši podporu

<br><br>
    </div>
  </div>
</section>

<section id="facebook">
  <div class="card mt-3">
    <div class="card-header">
      ZASÍLÁNÍ NEWSLETTERU
    </div>
    <div class="card-body">Chci odebírat novinky o územního plánu v Č. Budějovicích.
      <br><br>
      <a href=https://forms.gle/Cs885VBSNPqGB8j36 target="_blank"><b>Zadat email</b></a>
      </a>
    </div>
  </div>
</section>
