<section id="cepice">
  <div class="card">
    <div class="card-header">
      <h2>ÚZEMNÍ PLÁN</h2>
    </div>
    <div class="card-body">
        Územní plán (ÚP) je určitý druh územně plánovací dokumentace, která si klade za cíl racionalizaci prostorového a funkčního uspořádání území v krajině a jejího využití. ... Územní plán by se měl snažit naplnit potřeby současné generace tak, aby umožnil existenci a přežití i generací příštích.
       <br><br>
       Územní plán (ÚP) je určitý druh územně plánovací dokumentace, která si klade za cíl racionalizaci prostorového a funkčního uspořádání území v krajině a jejího využití. ... Územní plán by se měl snažit naplnit potřeby současné generace tak, aby umožnil existenci a přežití i generací příštích.Územní plán (ÚP) je určitý druh územně plánovací dokumentace, která si klade za cíl racionalizaci prostorového a funkčního uspořádání území v krajině a jejího využití. ... Územní plán by se měl snažit naplnit potřeby současné generace tak, aby umožnil existenci a přežití i generací příštích.
    </div>
    <div class="card-footer">
      <a href="/cepice/">ZAPOJTE SE</a>
    </div>
  </div>
</section>

<section id="facebook">
  <div class="card mt-3">
    <div class="card-header">
      ZASÍLÁNÍ NEWSLETTERU
    </div>
    <div class="card-body">Zadejte váš email:
      <br>
      .....
      </a>
    </div>
  </div>
</section>
