
<aside class="o-section o-section--smaller c-header-bar u-inverted u-inverted--darker u-center-860-down">
  <div class="row">
    <div class="o-section-inner" style="padding: 3px;">
      <div class="medium-12 columns">
          <img src="/assets/img/logo.svg" alt="Česká pirátská strana" class="c-welcome-header__brand">
        <ul class="c-header-bar-items">
          <li class="c-header-bar__item c-header-bar__item--smallerSpace"> <a href="https://www.facebook.com/PiratiCB/" target="_blank" title="Facebook - Piráti České Budějovice"> <i class="fa fa-facebook"></i> </a></li>
          <li class="c-header-bar__item c-header-bar__item--smallerSpace"> <a href="https://www.facebook.com/cepiceCB/" target="_blank" title="Facebook - ČePiCe - Českobudějovické pirátské centrum"> <i class="fa fa-facebook"></i> </a></li>
        </ul>
        <div class="c-header-bar-divider"></div>
        <ul class="c-header-bar-items c-header-bar-items--bigLh">
          <li class="c-header-bar__item"> <a href="https://wiki.pirati.cz" target="_blank"> <i class="fa fa-home"></i> <span class="c-header-bar__itemDescription">wiki.pirati.cz</span> </a> </li>
          <li class="c-header-bar__item"> <a href="http://www.piratskelisty.cz" target="_blank"> <i class="fa fa-newspaper-o"></i> <span class="c-header-bar__itemDescription">Pirátské listy</span> </a> </li>
          <li class="c-header-bar__item"> <a href="https://www.piratskyobchod.cz"    target="_blank"> <i class="fa fa-shopping-basket"></i> <span class="c-header-bar__itemDescription">Obchod</span> </a> </li>
        </ul>
      </div>
    </div>
  </div>
</aside>