---
title: Územní plán Českých Budějovic
layout: default
section: blog
published: true
style: portrets
description: 'Územní plán Českých Budějovic'
keywords: územní plán
image: /static/fb_up.png
---

{% include top_menu.html %}

<div class="container homepage is">

  <div class="row">
    <div class="medium-12 large-8 columns">
      <section id="posts">
            <section id="givemoney">
              <br>
                <h2>Aktuálně z územního plánu | <a href="https://cb.pirati.cz/uzemni-plan-obecne/">Obecně o územním plánu</a> </h2>
                  <hr>
              <h4>Mimořádné zasedání zastupitelstva města ke schválení zadání územního plánu</h4>
                <p>

Dne 27. 11. 2020 proběhne speciální <a href="https://www.c-budejovice.cz/zasedani-zastupitelstva-mesta" target="_blank">zasedání zastupitelstva města</a> s jediným bodem programu, kterým bude právě zadání nového územního plánu. V této souvislosti je třeba podotknout, že jedním z důležitých podkladových materiálů jsou podání jednotlivých dotčených orgánů, sousedních obcí a připomínek veřejnosti. Zprvu to vypadalo, že jejich zveřejnění nebude možné, nicméně na žádost Pirátů provedl úřad anonymizaci tohoto materiálu a následně ho <a href="https://www.c-budejovice.cz/sites/default/files/obsah/Odbory/OUP/UP/Porizovany_UP/anonym_vyhodnoceni_pozadavku_stanoviska_pripominek.pdf" target="_blank">zveřejnil</a>. Nezbývá nám, než poděkovat. Těšíme se na diskuzi na mimořádném zastupitelstvu, všichni jste zváni.
                  
                </p> 
               <br> 
 <div align=right><h3><a href="https://cb.pirati.cz/uzemni-plan/novinka1/">Starší aktuality</h3></a> </div> 
                <hr>
              
             
               
  <small>Datum poslední aktualizace: 19. 11. 2020</small>
                <br>
                       

            </section>        
      </section>
    </div>

    <div class="medium-12 large-4 columns">
      <br>
      {% include rightbar2.html %}
    </div>
  </div>
  <br>
  <small>Tato stránka není oficiální stránkou územního plánu Českých Budějovic.</small>
  <br>
  <small>Našli jste chybu? Napište, prosím, <a href="mailto:jaroslav.hansal@pirati.cz">webmasterovi</a>.</small>
</div>
