---
title: Územní plán Českých Budějovic
layout: default
section: blog
published: true
style: portrets
description: 'Územní plán Českých Budějovic'
keywords: územní plán
---

{% include top_menu.html %}

<div class="container homepage is">

  <div class="row">
    <div class="medium-12 large-8 columns">
      <section id="posts">
            <section id="givemoney">
              <br>
                <h2>Aktuálně z územního plánu | <a href="https://cb.pirati.cz/uzemni-plan-obecne/">Obecně o územním plánu</a> </h2>
                <hr>
                <h3>Úkol č. 1 – Získání návrhu zadání územního plánu.</h3></a>
                <p>
                  <b>Zhotovitel právě sbírá podklady pro vznik návrhu zadání územního plánu. Podobu tohoto dokumentu mohou občané města začít ovlivňovat již <a href="https://drive.google.com/open?id=1uVVuXMkKdzwpTI3v9oD2vhYNY85A8Okw" target="_blank">teď</a>, a to prostřednictvím <a href="https://www.c-budejovice.cz/vybor-pro-verejnou-spravu-informacni-technologie" target="_blank">územních skupin</a>. O termínech zasedání jednotlivých územních skupin Vás budeme informovat na zde na webu, případně tuto informaci získáte přímo u předsedy příslušné územní skupiny.<br> 
                    <br> Jednání územních skupin jsou otevřená pro veřejnost!</b>

</p>        
                <div align=right><a href="https://cb.pirati.cz/uzemni-plan/novinka1/"><h3>Více zde</h3></a> </div>    
                </p>
                <hr>
                <h4>30.7.2019 Přidán termín jednání územní skupiny č. 1</h4></a>
                <p>
                   Územní skupina č. 1 - centrum, Pražské sídliště - se sejde dne 1. srpna 2019 v 17:00 v Klubu malých pivovarů Na Mlýnské stoce. 
                </p>
                <hr>
  <small>Datum poslední aktualizace: 30.7.2019</small>
                <br>
                       

            </section>        
      </section>
    </div>

    <div class="medium-12 large-4 columns">
      <br>
      {% include rightbar2.html %}
    </div>
  </div>
  <br>
  <small>Tato stránka není oficiální stránkou územního plánu Českých Budějovic.</small>
  <br>
  <small>Našli jste chybu? Napište, prosím, <a href="mailto:jaroslav.hansal@pirati.cz">webmasterovi</a>.</small>
</div>
