---
title: Územní plán Českých Budějovic
layout: default
section: blog
published: true
style: portrets
description: 'Územní plán Českých Budějovic'
keywords: územní plán
---

{% include top_menu.html %}

<div class="container homepage is">

  <div class="row">
    <div class="medium-12 large-8 columns">
      <section id="posts">
            <section id="givemoney">
              <br>
                <h2>Aktuálně z územního plánu | <a href="https://cb.pirati.cz/uzemni-plan-obecne/">Obecně o územním plánu</a> </h2>
                <hr>
                <h1>Aktuálně z územního plánu Českých Budějovic</h1>
                <br>
                <hr>    
                <h3>EVROPA POTŘEBUJE SVOBODU</h3></a>
                <p>
                   <b>Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla.</b>        
                <div align=right><a href="https://cb.pirati.cz/uzemni-plan/"><h3>ZAPOJTE SE</h3></a> </div>    
                </p>
                <hr>   
                <br>
                <h3>EVROPA POTŘEBUJE UPGRADE</h3></a>
                <p>
                   <b>15.08.2019</b> Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla L
                    <br>a bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla <a href="https://cb.pirati.cz/uzemni-plan/">pokračování...</a>     
                </p>
                <br><br>
                <h3>EVROPA POTŘEBUJE UPGRADE</h3></a>
                <p>
                   <b>15.08.2019</b> Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla L
                    <br>a bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla Lorem ipsum bla bla. Bla bla <a href="https://cb.pirati.cz/uzemni-plan/">pokračování...</a>     
                </p>
                <br>          

            </section>
        <h4><a href="/clanky/">Další novinky</a></h4>
      </section>
    </div>

    <div class="medium-12 large-4 columns">
      <br>
      {% include rightbar2.html %}
    </div>
  </div>

</div>
