---
title: Územní plán Českých Budějovic
layout: default
section: blog
published: true
style: portrets
description: 'Územní plán Českých Budějovic'
keywords: územní plán
---

{% include top_menu.html %}

<div class="container homepage is">

  <div class="row">
    <div class="medium-12 large-8 columns">
      <section id="posts">
            <section id="givemoney">
              <br>
                <h2>Aktuálně z územního plánu | <a href="https://cb.pirati.cz/uzemni-plan-obecne/">Obecně o územním plánu</a> </h2>
                <hr>
                <h3>Úkol č. 1 – Získání návrhu zadání územního plánu.</h3></a>
                <p>
                   <a href="https://www.iri.name/" target="_blank">Zhotovitel</a> právě sbírá podklady pro vznik tzv. návrhu <b>zadání územního plánu</b>. Podobu tohoto dokumentu mohou občané města začít ovlivňovat již <a href="https://drive.google.com/open?id=1uVVuXMkKdzwpTI3v9oD2vhYNY85A8Okw" target="_blank">teď</a>. To nám umožňuje <a href="https://www.c-budejovice.cz/odbor-uzemniho-planovani-0" target="_blank">pořizovatel</a> prostřednictvím <a href="https://www.c-budejovice.cz/vybor-pro-verejnou-spravu-informacni-technologie" target="_blank">územních skupin</a>. O termínech setkání jednotlivých územních skupin budete informováni prostřednictvím tohoto webu, případně osobně u předsedy příslušné územní skupiny.

</p>       
                   <br>                   
<b>Termíny setkání <a href="https://www.c-budejovice.cz/vybor-pro-verejnou-spravu-informacni-technologie" target="_blank">územních skupin</a>:</b>
<ol>
  <li>1. srpna 2019 17:00, v Klubu malých pivovarů, Na Mlýnské stoce</li>
  <li>bude stanoveno</li>
  <li>bude stanoveno</li>
  <li>bude stanoveno</li>
  <li>bude stanoveno</li>
  <li>bude stanoveno</li>
  <li>bude stanoveno</li>
</ol>

<b>Společné setkání územních skupin.</b>
<br>
Určitě je dobré přijít na jednání územních skupin připravený, tedy mít například nastudovanou podobu a formulace použité v návrzích zadání územního plánu jiných měst – viz <a href="http://www.iprpraha.cz/clanek/77/koncept-09" target="_blank">Praha č. 1</a>, <a href="http://www.iprpraha.cz/uploads/assets/dokumenty/mup/zadani_schvalena_verse_00.pdf" target="_blank">Praha č. 2</a>, <a href="https://www.brno.cz/fileadmin/user_upload/sprava_mesta/magistrat_mesta_brna/OUPR/Pripravovany_uzemni_plan/uplne_zneni.pdf" target="_blank">Brno</a>, <a href="https://docs.liberec.cz/Odb_UK/web/zadani_novyUP.pdf" target="_blank">Liberec</a>, <a href="https://www.staryplzenec.cz/e_download.php?file=data/editor/74cs_3.pdf&original=1+-+Zadani_UP.pdf" target="_blank">Starý Plzenec</a> a další, případně si nastudovat <a href="https://docs.google.com/document/d/1Vui1DwALu5T7ixoOTLUs4qXdLu4cwNCoRRDjnFI32PQ/edit?usp=sharing" target="_blank">podkladové materiály</a>, ze kterých bude vycházet i zhotovitel.
<br><br>
Kromě toho se můžete podívat na připomínky, které k návrhu zadání územního plánu přišly v <a href="http://www.hostivicemesto.cz/index.php/2017/07/06/pripominky-k-navrhu-zadani-up/" target="_blank">Hostivicích</a>, či v <a href="http://servis.praha-mesto.cz/uzplan/Uzemni_plan_HMP/UPn_metrop/Usnesen%C3%AD%20ZHMP%2031-6%2020130919.pdf" target="_blank">Praze</a> a způsob, jakým byly vypořádány.
<br><br> 
Jak budou jednání probíhat? Občané budou na jednáních předkládat návrhy zásad, kterými by se mělo zadání územního plánu řídit. Předsedové územních skupin pak tyto návrhy sepíší a formou zápisu předají na odbor územního plánování.
   
                <br>
                </p>       
<div align=right><a href="https://cb.pirati.cz/uzemni-plan/"><h3>Zpátky</h3></a> </div>    
               
            </section>        
      </section>
    </div>

    <div class="medium-12 large-4 columns">
      <br>
      {% include rightbar2.html %}
    </div>
  </div>

</div>
