---
title: Podpoř nás
layout: default
section: blog
description: Články o táborské politice s nádechem pirátkých myšlenek
keywords: články, české budějovice, politika, pohled
---

{% include top_menu.html %}



<div class="row">
  <div class="col-sm-12 col-lg-8">

    <section id="givemoney">
      <h1>Podpoř nás</h1>
      <p>Oslovili Tě pirátské myšlenky? Chceš podpořit budějovické Piráty a pomoci jim dostat se na radnici? Můžeš se aktivně i pasivně zapojit několika způsoby. Vyber si způsob podpory, který Ti vyhovuje. Za každou podporu předem děkujeme a věříme, že pirátské myšlenky a činy již brzy změní České Budějovice k lepšímu. </p>
    </section>
<br><br>
    <section id="form">
      <h2>Přidej se k nám</h2>
      <p>Nemusíš se stát hned členem Pirátské strany, ale můžeš se třeba nejdříve stále Odběratelem nebo Příznivcem. Volba je jen na tobě. Všechny možnosti Ti rád vysvětlí náš koordinátor. Tak neváhej a přidej se k nám. Stačí vyplnit tento formulář:</p>
      
      {% include shared/join_form.html %}
    </section>
<br><br>
    <section id="materials">
      <h2>Přispěj na kampaň</h2>
      <p>Chceš přispět na naši podzimní kampaň, na komunální volby do Českých Budějovic? Číslo transparentního bankovního účtu je: <strong>2100048174 / 2010</strong>, vedený je u FIO banky a nezapomeň uvést sériový symbol "<strong>191203</strong>" - tím poznáme, že Tvoje peníze zasíláš na účet budějovických Pirátů. Děkujeme za dar v jakékoliv výši.</p>
      
    </section>
<br><br>    
    <section id="materials">
      <h2>Nabídni plot</h2>
<p>Jsi vlastníkem nemovitosti na frekventovaném místě? <a href="http://objekty.jdem.cz/" target="_blank">Nabídni svůj plot</a> pro vylepení naší reklamní plachty. Ať sousedi vidí, jaký jsi Pirát! ;)</p>
      
    </section>

  </div>

  <div class="col-sm-12 col-lg-4">
    {% include rightbar.html %}
  </div>
</div>
