---
title: Podpoř nás
layout: default
section: blog
description: Články o táborské politice s nádechem pirátkých myšlenek
keywords: články, české budějovice, politika, pohled
---

{% include top_menu.html %}


<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section--spaceBot">
      <div class="o-section-inner">
        <div class="o-section-block" data-equalizer="1u47kk-equalizer" data-equalize-on="medium" data-resize="z0rux9-eq" data-events="resize">
          <div class="column medium-4">
            <ul class="pricing-table no-bullet text-center" data-equalizer-watch="" style="height: 392px;">
              <li class="pricing-table-header-img" style="background-image:url('/assets/img/teams/odberatel.jpg')"></li>
              <!--CC-BY Kartik Malik source https://flic.kr/p/aQaGzX -->
              <li class="price">Odběratel</li>
              <li class="description">sledujte nás</li>
              <li>✓ pozvánky na akce</li>
              <li>✓ odběr novinek</li>
              <li><span style="color: #777777;font-size: 0.8rem;">A co potom?</span> <br>
                <a href="https://www.facebook.com/ceska.piratska.strana/">Lajkni stránku
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a></li>
            </ul>
          </div>
          <div class="column medium-4">
            <ul class="pricing-table no-bullet text-center" data-equalizer-watch="" style="height: 392px;">
              <li class="pricing-table-header-img" style="background-image:url('/assets/img/teams/priznivec.jpg')"></li>
              <li class="price" title="Doporučujeme!">Příznivec <span style="color:yellow"><i class="fa fa-star"></i></span></li>
              <li class="description">zapojte se</li>
              <li>✓ vnitřní diskuse</li>
              <li>✓ kandidování</li>
              <li class="small">plus totéž, co odběratel</li>
            </ul>
          </div>
          <div class="column medium-4">
            <ul class="pricing-table no-bullet text-center" data-equalizer-watch="" style="height: 392px;">
              <li class="pricing-table-header-img" style="background-image:url('/assets/img/teams/clen.jpg')"></li>
              <li class="price">Člen</li>
              <li class="description">přidejte se</li>
              <li>✓ hlasovací právo</li>
              <li>✓ uvítací balíček</li>
              <li>✓ adresa @pirati.cz</li>
              <li class="small">plus totéž, co příznivec</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>



<div class="row">
  <div class="medium-12 large-12 columns">
    <section class="o-section o-section">
      <div class="o-section-inner">
        <div class="o-section-block">
          <div class="c-BasicPage">
            <div class="c-BasicPage-content">
              <h2 itemprop="headline" class="c-BasicPage__title">Kontaktní osoba</h2>
              <div class="row collapse">
                <div class="large-6 small-12 columns end o-section-mediumdown-divided-small">
                  <div class="o-media o-media--top">
                    <div class="o-media__image o-media__image--lgspace">
                      <img src="/assets/img/people/jana-rohova.jpg" alt="Jana Rohová"> </div>
                    <div class="o-media__body">
                      <h2 class="o-media__headline">
                        <!--<a href="/lide/jana-rohova/">Jana Rohová</a>-->
                        Jana Rohová<br>
                        <small>Vedoucí personálního odboru</small>
                      </h2>
                      <p>                 
                      </p>
                      <h2 class="o-media__headline">Michaela Kleslová
                        <small>Kontakt pro zájemce o členství a dobrovolníky</small>  
                      </h2>
                        <a href="mailto:michaela.kleslova@pirati.cz">michaela.kleslova@pirati.cz</a>
                        
                    </div>
                  </div>
                </div>
                <div class="large-6 small-12 columns end o-section-mediumdown-divided-small">
                  <div class="o-media">
                    <div class="o-media__body">
                      <blockquote class="c-blockquote c-blockquote--wicon">Pirátská strana funguje na principu dobrovolnosti.
                        <br> Pokud něco chceš dělat, nečekej na ostatní
                        <br> a zapoj se. Samozřejmě respektuj ostatní dobrovolníky
                        <br> a pravidla
                        <a href="https://redmine.pirati.cz/projects/po/wiki/Pir%C3%A1tsk%C3%A1_netiketa">netikety</a>.</blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

      </div>


<div class="row">
  <div class="col-sm-12 col-lg-8">

    <section id="givemoney">
      <h2>přispěj na kampaň</h2>
      <p>
        číslo účtu ....
      </p>
    </section>

    <section id="form">
      <h2>přidej se</h2>
      {% include shared/join_form.html %}
    </section>

    <section id="materials">
      <h2>propagační materiály ke stažení</h2>

      <ul>
        {% for item in site.data.materialy %}
          <li><a href="{{item.link}}">{{item.name}}</a></li>
        {% endfor %}
      </ul>
    </section>

  </div>

  <div class="col-sm-12 col-lg-4">
    {% include rightbar.html %}
  </div>
</div>
