---
title: Územní plán Českých Budějovic
layout: default
section: blog
published: true
style: portrets
description: 'Územní plán Českých Budějovic'
keywords: územní plán
image: /static/fb_up.png
---

{% include top_menu.html %}

<div class="container homepage is">

  <div class="row">
    <div class="medium-12 large-8 columns">
      <section id="posts">
            <section id="givemoney">
              <br>
                <h2><a href="https://cb.pirati.cz/uzemni-plan/">Aktuálně z územního plánu</a> | Obecně o územním plánu </h2>
                <hr>
              
              <b>Minimum z historie...</b> <br>
              <br>
              <p>
                Platný územní plán Českých Budějovic byl <a href="https://www.c-budejovice.cz/uzemni-plan-mesta-ceske-budejovice" target="_blank">schválen</a> v roce 2000, v současnosti vzniká nový. V minulosti byla snaha budějovický územní plán aktualizovat, vyšla však <a href="https://drive.google.com/open?id=1S61d31pT9TS7mput4cMgZrvelNtcIctX" target="_blank">naprázdno</a>.
              </p>
              <br> 
              <br> <br> <br>              

              <b>V jaké fázi jsou České Budějovice nyní?</b> <br>
                <br>
<li type="disc">
  Na základě <a href="https://drive.google.com/open?id=13-FalzKQ7AKlh5VnyRPNZ8-6wjMaCQQk" target="_blank">výběrového řízení</a> byla uzavřena <a href="https://www.c-budejovice.cz/smlouva/detail?id=2019001428" target="_blank">smlouva</a>.</li>
              
              <br>
<li type="disc">
              <a href="https://www.iri.name/o-nas/" target="_blank">Zhotovitel</a> bude vycházet z <a href="https://docs.google.com/document/d/1Vui1DwALu5T7ixoOTLUs4qXdLu4cwNCoRRDjnFI32PQ/edit?usp=sharing" target="_blank">podkladových materiálů</a>, které jsou k dispozici i veřejnosti.</li>
              <br> 
              <li type="disc">
              Proběhl sběr podnětů územních skupin, komisí rady, městem zřizovaných organizací. Podněty jsou k nahlédnutí <a href="https://drive.google.com/open?id=1lnTCsZ3lTVFAuhwQtQSZOKKZ0WM2QaaG" target="_blank">zde</a>. </li>
              <br> 
              <li type="disc">
              V souladu s uzavřenou smlouvou byla na zřízena <a href="https://drive.google.com/open?id=1w6VBWYDRAcBTN5oN9gK3AVlP-AD6n39m" target="_blank">pracovní skupina magistrátu</a> a <a href="https://drive.google.com/file/d/1o7jaccL66CxqctWl5Fe7HzRbIaM5-V8B/view?usp=sharing" target="_blank">politická platforma</a>. </li> 
              <br> 
              <li type="disc">
              Byl najat nezávislý konzultant <a href="https://www.proolomouc.cz/lide/pavel-grasse/" target="_blank">Pavel Grasse</a>, výběrové řízení a smlouvu naleznete <a href="https://drive.google.com/open?id=1AloxfcuM0BNKlwr5XsgDYxE5C927IciN" target="_blank">zde</a>.</li>
              <br> 
              <li type="disc">
              Byl schválen <a href="https://drive.google.com/file/d/1D-DP-76d2pvtirsXtyJa3j9IPZKumyLt/view?usp=sharing" target="_blank">harmonogram</a> předpokládaného postupu prací pro rok 2020.</li>
                         
        
              <br> <br>
                <b>Jak to dělají jinde?</b> <br>
                  <br>
              <p>
              Na internetu existuje velké množství materiálů, například <a href="https://aa.ecn.cz/img_upload/8d7362970723bd7ec5a17e791cf88d95/o_uzemnim_planovani.pdf" target="_blank">zde</a> nebo <a href="https://frankbold.org/poradna/kategorie/nastroje-uzemniho-planovani/rada/uzemni-plany-obci" target="_blank">zde</a>. 
              Některá města tvoří pro své občany oficiální weby (například <a href="https://plan.iprpraha.cz/cs/metropolitni-plan" target="_blank">Praha</a>, <a href="https://kambrno.cz/uzemni-plan/" target="_blank">Brno</a>, <a href="https://www.uzemniplanliberec.cz/" target="_blank">Liberec</a>), případně vznikají weby <a href="https://zmenyprahy.cz/praha-zitra" target="_blank">neoficiální</a>.
              </p>
              <br> <br> <br>
             
              
            
              <b>Jak se na jednání o územním plánu připravit?</b> <br>
        <br>
        <p>
Vycházet můžete například z <a href="https://docs.google.com/document/d/1Vui1DwALu5T7ixoOTLUs4qXdLu4cwNCoRRDjnFI32PQ/edit?usp=sharing" target="_blank">podkladových materiálů</a>, ze kterých bude vycházet i zhotovitel. Doporučujeme podívat se na znění návrhů zadání územního plánu jiných měst - např.        
         <a href="http://www.iprpraha.cz/clanek/77/koncept-09" target="_blank">Praha č. 1</a>, <a href="https://www.brno.cz/fileadmin/user_upload/sprava_mesta/magistrat_mesta_brna/OUPR/Pripravovany_uzemni_plan/uplne_zneni.pdf" target="_blank">Brno</a>, <a href="https://docs.liberec.cz/Odb_UK/web/zadani_novyUP.pdf" target="_blank">Liberec</a>, <a href="https://www.staryplzenec.cz/e_download.php?file=data/editor/74cs_3.pdf&original=1+-+Zadani_UP.pdf" target="_blank">Starý Plzenec</a>. Můžete i prozkoumat připomínky, které k návrhu zadání územního plánu přišly a způsob, jakým byly vypořádány v <a href="http://www.hostivicemesto.cz/index.php/2017/07/06/pripominky-k-navrhu-zadani-up/" target="_blank">Hostivicích</a>, či v <a href="http://servis.praha-mesto.cz/uzplan/Uzemni_plan_HMP/UPn_metrop/Usnesen%C3%AD%20ZHMP%2031-6%2020130919.pdf" target="_blank">Praze</a>.
        </p>
        <br> 
        <br>
            </section>
      </section>
    </div>

    <div class="medium-12 large-4 columns">
      <br>
      {% include rightbar2.html %}
    </div>
  </div>

</div>
