---
title: Územní plán Českých Budějovic
layout: default
section: blog
published: true
style: portrets
description: 'Územní plán Českých Budějovic'
keywords: územní plán
---

{% include top_menu.html %}

<div class="container homepage is">

  <div class="row">
    <div class="medium-12 large-8 columns">
      <section id="posts">
            <section id="givemoney">
              <br>
                <h2><a href="https://cb.pirati.cz/uzemni-plan/">Aktuálně z územního plánu</a> | Obecně o územním plánu </h2>
                <hr>
                <div align="justify">
                <a href="https://www.c-budejovice.cz/uzemni-plan-mesta-ceske-budejovice" target="_blank">Platný územní plán Českých Budějovic</a> byl schválen v roce 2000. V současnosti vzniká nový. Proč tomu tak je? Územní plán by měl reflektovat společenské změny, které se za posledních 20 let udály. A kromě morální zastaralosti pak proto, aby odpovídal novelizovanému Stavebnímu zákonu. Termín pro získání nového územního plánu je konec roku 2022, tedy velmi napjatý. <br>
              <br>              
Na internetu existuje velké množství materiálů, zabývajících se územním plánem obecně a rolí občanů při jeho vzniku. Některá města mají pro své občany speciální weby (<a href="https://plan.iprpraha.cz/cs/metropolitni-plan" target="_blank">Praha</a>, <a href="https://kambrno.cz/uzemni-plan/" target="_blank">Brno</a>, <a href="https://www.uzemniplanliberec.cz/" target="_blank">Liberec</a>), případně vznikají i weby neoficiální, jako tento (<a href="https://zmenyprahy.cz/praha-zitra" target="_blank">Praha - Arnika</a>).<br>
 <br>
V minulosti byla snaha stávající územní plán aktualizovat, to se však <a href="https://drive.google.com/open?id=1S61d31pT9TS7mput4cMgZrvelNtcIctX" target="_blank">nepovedlo</a>.<br>
              <br>
Zde je odkaz na <a href="https://www.c-budejovice.cz/smlouva/detail?id=2019001428" target="_blank">smlouvu</a>, uzavřenou mezi Statutárním městem České Budějovice a zpracovatelem ÚP, zde jsou pak nashromážděné podkladové materiály, ze kterých bude zhotovitel vycházet (a které budeme průběžně aktualizovat).<br>
              <br>
Zhotovitel nového územního plánu je brněnská firma IRI, která vyhrála <a href="https://drive.google.com/open?id=1YhNyp_uT2ea656wsYjy3JpLO1GfObVao" target="_blank">výběrové řízení</a>. (Bylo vypsané ještě před komunálními volbami 2018. Ihned po nich se ho nově koaliční HOPB pokusilo zrušit, to se však nepovedlo.)<br>
              <br>
Následně byla uzavřená smlouva.<br>
              <br>
Subdodavatelem <a href="https://www.mzp.cz/cz/posuzovani_vlivu_koncepci_sea" target="_blank">SEA</a> je malá společnost pana architekta <a href="https://www.cestamikdomovu.cz/" target="_blank">Stanislava Kováře</a>.<br>
              <br>
Podkladové materiály, ze kterých bude zhotovitel vycházet, naleznete zde. Materiály budeme průběžně aktualizovat.
                <br>          
                </div>
            </section>
      </section>
    </div>

    <div class="medium-12 large-4 columns">
      <br>
      {% include rightbar2.html %}
    </div>
  </div>

</div>
