---
title: Územní plán Českých Budějovic
layout: default
section: blog
published: true
style: portrets
description: 'Územní plán Českých Budějovic'
keywords: územní plán
image: /static/fb_up.png
---

{% include top_menu.html %}

<div class="container homepage is">

  <div class="row">
    <div class="medium-12 large-8 columns">
      <section id="posts">
            <section id="givemoney">
              <br>
                <h2><a href="https://cb.pirati.cz/uzemni-plan/">Aktuálně z územního plánu</a> | Obecně o územním plánu </h2>
                <hr>
              
              <h3>Minimum z historie</h3>
             
              <p>
                <a href="https://geoportal.kraj-jihocesky.gov.cz/gs/uzemni-plany-a-dalsi-nastroje-uzemniho-planovani/" target="_blank">Územní plán Českých Budějovic</a> byl schválen v roce 2000. V minulosti byla snaha jej aktualizovat, vyšla však <a href="https://drive.google.com/open?id=1S61d31pT9TS7mput4cMgZrvelNtcIctX" target="_blank">naprázdno</a>. V současnosti vzniká nový.
              </p>
              
              <hr>             

              <h3>V jaké fázi jsou České Budějovice nyní?</h3>
<p>             
              <li type="disc">
Na základě <a href="https://drive.google.com/open?id=13-FalzKQ7AKlh5VnyRPNZ8-6wjMaCQQk" target="_blank">výběrového řízení</a> byla uzavřena <a href="https://www.c-budejovice.cz/smlouva/detail?id=2019001428" target="_blank">smlouva</a> se společností IRI, s.r.o.</li>
              
            
              <li type="disc">
              <a href="https://www.iri.name/o-nas/" target="_blank">Zpracovatel</a> bude vycházet z <a href="https://docs.google.com/document/d/1Vui1DwALu5T7ixoOTLUs4qXdLu4cwNCoRRDjnFI32PQ/edit?usp=sharing" target="_blank">podkladových materiálů</a> a <a href="ftp://ftp.c-budejovice.cz/OUPA/PRIPRAVA_NOVEHO_UP/" target="_blank">doplňujících průzkumů a rozborů</a>. </li>
             
              <li type="disc">
              Proběhl sběr podnětů územních skupin, komisí rady, městem zřizovaných organizací. Podněty jsou k nahlédnutí <a href="https://drive.google.com/open?id=1lnTCsZ3lTVFAuhwQtQSZOKKZ0WM2QaaG" target="_blank">zde</a>. </li>
             
              <li type="disc">
              V souladu s uzavřenou smlouvou byla na zřízena <a href="https://drive.google.com/open?id=1w6VBWYDRAcBTN5oN9gK3AVlP-AD6n39m" target="_blank">pracovní skupina magistrátu</a> a <a href="https://drive.google.com/file/d/1o7jaccL66CxqctWl5Fe7HzRbIaM5-V8B/view?usp=sharing" target="_blank">politická platforma</a>. </li> 
              
              <li type="disc">
              Byl najat nezávislý konzultant <a href="https://www.proolomouc.cz/lide/pavel-grasse/" target="_blank">Pavel Grasse</a>, výběrové řízení a smlouvu naleznete <a href="https://drive.google.com/open?id=1AloxfcuM0BNKlwr5XsgDYxE5C927IciN" target="_blank">zde</a>.</li>
              
              <li type="disc">
              Byl schválen <a href="https://drive.google.com/file/d/1D-DP-76d2pvtirsXtyJa3j9IPZKumyLt/view?usp=sharing" target="_blank">harmonogram</a> předpokládaného postupu prací pro rok 2020.</li>
  
              <li type="disc">
              Vznikl také oficiální <a href="https://www.c-budejovice.cz/priprava-noveho-uzemniho-planu" target="_blank">informační web města</a>. </li>
  
              <li type="disc">
              <a href="/static/doc/Verejna vyhlaska k navrhu zadani 2_3_2020.pdf" target="_blank">Veřejnou vyhláškou</a> byl zveřejněn <a href="/static/doc/Navrh zadani 2_3_2020.pdf" target="_blank">návrh zadání územního plánu</a>. </li>
              
              </p>                         
        
              <hr>
              
                <h3>Jak to dělají jinde?</h3> 
              <p>
              Na internetu existuje <a href="https://aa.ecn.cz/img_upload/8d7362970723bd7ec5a17e791cf88d95/o_uzemnim_planovani.pdf" target="_blank">velké</a> <a href="https://frankbold.org/poradna/kategorie/nastroje-uzemniho-planovani/rada/uzemni-plany-obci" target="_blank">množství</a> materiálů. 
              Některá města tvoří pro své občany speciální weby (například <a href="https://plan.iprpraha.cz/cs/metropolitni-plan" target="_blank">Praha</a>, <a href="https://kambrno.cz/uzemni-plan/" target="_blank">Brno</a>, <a href="https://www.uzemniplanliberec.cz/" target="_blank">Liberec</a>), případně vznikají weby <a href="https://zmenyprahy.cz/praha-zitra" target="_blank">neoficiální</a>.
              </p>
              
              
              <hr>
             
              <h3>Jak se na jednání o územním plánu připravit?</h3>
        
        <p>
Vycházet můžete například z <a href="https://docs.google.com/document/d/1Vui1DwALu5T7ixoOTLUs4qXdLu4cwNCoRRDjnFI32PQ/edit?usp=sharing" target="_blank">podkladových materiálů</a>, ze kterých bude vycházet i zhotovitel. Doporučujeme podívat se na znění návrhů zadání územního plánu jiných měst - např.        
         <a href="http://www.iprpraha.cz/clanek/77/koncept-09" target="_blank">Praha č. 1</a>, <a href="https://www.brno.cz/fileadmin/user_upload/sprava_mesta/magistrat_mesta_brna/OUPR/Pripravovany_uzemni_plan/uplne_zneni.pdf" target="_blank">Brno</a>, <a href="https://docs.liberec.cz/Odb_UK/web/zadani_novyUP.pdf" target="_blank">Liberec</a>, <a href="https://www.staryplzenec.cz/e_download.php?file=data/editor/74cs_3.pdf&original=1+-+Zadani_UP.pdf" target="_blank">Starý Plzenec</a>. Můžete i prozkoumat připomínky, které k návrhu zadání územního plánu přišly a způsob, jakým byly vypořádány v <a href="http://www.hostivicemesto.cz/index.php/2017/07/06/pripominky-k-navrhu-zadani-up/" target="_blank">Hostivicích</a>, či v <a href="http://servis.praha-mesto.cz/uzplan/Uzemni_plan_HMP/UPn_metrop/Usnesen%C3%AD%20ZHMP%2031-6%2020130919.pdf" target="_blank">Praze</a>.
        </p>
        <br> 
        <br>
            </section>
      </section>
    </div>

    <div class="medium-12 large-4 columns">
      <br>
      {% include rightbar2.html %}
    </div>
  </div>

</div>
